/* static/css/styles.css */
body {
    font-family: Lato;
    margin: 0 0 100px 0;

    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}

header {
    background-color: #e71111;
    color: 	#000000;
    padding: 0px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0 0 18px 0;
}

header nav ul li {
    display: inline;
    margin-right: 1rem;
    padding: 5px;
    border-radius: 5px;
}
header nav ul li:hover{
    background-color: #000;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.pokeball {
    background: url("img_varios/pekball2.png"); 
    background-position: center; 
    background-size: cover; 
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

article{
    margin: 20px auto 20px auto;
    border: 1px solid #000000;
    border-radius: 10px;
    max-width: 1024px;
    background: #eee;
    align-content: center;
}

article p{
    border: 1px solid #000000;
}
article img{
    border: 1px solid #000000;
    width: 90%;
    max-width: 475px;
}

table{
    border: 1px solid #000000;
}
table a{
    text-decoration: none;
    color: #000;

}
table a :visited{
    color:#000000;
}

.centered{
    margin: 0 auto 0 auto;
}