<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}uplaDex{% endblock %}</title>
    <!-- Enlace a hojas de estilo (CSS) -->
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>

</head>
<body>
    <!-- Header -->
    <header>
        
       <div class="pokeball">
           <h1>uplaDex</h1>
       </div>
   
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('pokedex') }}">Pokedex</a></li>
                <li><a href="{{ url_for('items') }}">Items</a></li>
                <li><a href="{{ url_for('pokemon') }}">Pokémon</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        {% block content %}
        <!-- Contenido específico de cada página -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; uplaDex</p>
    </footer>
</body>
</html>