{% extends "base_template.html" %}

{% block title %}Objetos - {% endblock %}
{% block content %}

<table class="centered">
    <tr>
        <th>Nombre</th>
        <th>Imagen</th>
    </tr>
    {% for baya in bayas %}
        <tr>
            <td style="text-align: center;">
                <a href="{{ url_for('baya',bayaname=baya.name) }}">
                    {{ baya.name }}
                </a>
            </td>
            <td>
                <a href="{{ url_for('baya',bayaname=baya.name) }}">
                    <img class="imgsmall" src="/static/bayas/{{baya.id}}_{{baya.name}}_EP.png" alt="">
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}