{% extends "base_template.html" %}

{% block title %}test{% endblock %}
{% block content %}

<div>
    <h3>estresaditto</h3>
    <img src="{{ url_for('static', filename='pkms/132.png') }}" alt="ditto" style="width:150px;">
</div>

<div>
    <h3>integrantes del proyecto:</h3>
    <div class="miembros">
        <div class="miembro">
            <img src="{{ url_for('static', filename='pkms/155.png') }}" alt="Cyndaquil" style="width:150px;">
            <h3>matias aguilera</h3>
        </div>
        <div class="miembro">
            <img src="{{ url_for('static', filename='pkms/137.png') }}" alt="Porygon" style="width:150px;">
            <h3>luis tapia</h3>
        </div>
    </div>
</div>

<div>
    <h3>github del proyecto ---> <a href="https://github.com/matias-aguilera/taller_integrado_pokedex" target="_blank">https://github.com/matias-aguilera/taller_integrado_pokedex</a></h3>
</div>

{% endblock %}