{% extends "base_template.html" %}

{% block title %}Objetos - {% endblock %}
{% block content %}

<table class="centered">
    <tr>
        <th>Nombre</th>
        <th>Imagen</th>
    </tr>
    {% for item in items %}
        <tr>
            <td style="text-align: center;">
                <a href="{{ url_for('item',itemname=item.name) }}">
                    {{ item.name }}
                </a>
            </td>
            <td>
                <a href="{{ url_for('item',itemname=item.name) }}">
                    <img class="imgsmall" src="/static/items/{{item.id}}_{{item.name}}_EP.png" alt="">
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

