{% extends "base_template.html" %}

{% block title %}Pokedex{% endblock %}
{% block content %}
<h2>Lista de Pokémon</h2>

 <center>

     <table >
         <tr>
             <th>ID</th>
             <th>Nombre</th>
             <th>Tipo</th>
         </tr>
         {% for poke in dex[:n] %}
             <tr>
                
                 <td style="text-align: center;">
                    <a href="{{ url_for('poke_prev',dex_id=poke.id) }}">
                        {{ poke.id }}
                    </a>
                 </td>
                 <td style="text-align: center;">
                     {{ poke.names }}
                 </td>
                 <td style="text-align: center;">
                     {{ poke.types }}
                 </td>
             </tr>
         {% endfor %}
     </table>
 </center>

{% endblock %}

